<% layout('boilerplate') %>


    <h1 class="text-center">VA Acceleration Grant Map</h1>
    
    <div id="map" style="width:100%; height:500px"></div>

    <script src="/clusterMap.js"></script>

    <script>
        const mapToken = 'pk.eyJ1Ijoia3Jpc2hhbmxlb25nIiwiYSI6ImNscDBuMTcxOTBiaXoyaXFpc3VhMXFxYWoifQ.CaGNNJbehmm0s3EciHTGIQ';
        const allBusiness = {features: <%-JSON.stringify(allBusiness)%>} 
    </script>