<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acc Grant Map</title>
</head>
<body>
    <h1>VA Acceleration Grant Map</h1>
    
    <div id="map" style="width:100%; height:500px"></div>

    <script src="/clusterMap.js"></script>

    <script>
        const mapToken = 'pk.eyJ1Ijoia3Jpc2hhbmxlb25nIiwiYSI6ImNscDBuMTcxOTBiaXoyaXFpc3VhMXFxYWoifQ.CaGNNJbehmm0s3EciHTGIQ';
        const allBusiness = {features: <%-JSON.stringify(allBusiness)%>} 
    </script>
</body>
</html>
