.card {
  border-radius: 15px;
}

.card-body {
  border-radius: 15px;
  border: 2px solid black;
  margin: 10px;
}

body {
  background-color: #f9eae1;
}

.navbar {
  background-color: #cc8b86;
}

h1 {
  margin: 20px;
}

.card-title-link:hover {
  text-decoration: none;
  opacity: 75%;
}
